
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia,serif;
    background:#d9c7a4;
    overflow:hidden;
}

/* Utility */
.hidden{
    display: none !important;
}
/* Password */

.password-screen,
.start-screen,
.opening-screen,
.book-cover{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#2f241d;
    color:white;
    z-index:1000;
}

.password-box,
.start-content,
.cover-card{
    width:420px;
    background:#fffaf1;
    color:#222;
    border-radius:18px;
    padding:40px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.password-box h1,
.start-content h2,
.cover-card h1{
    margin-bottom:18px;
}

input{
    width:100%;
    padding:14px;
    margin-top:18px;
    border-radius:8px;
    border:1px solid #bbb;
}

button{
    margin-top:20px;
    padding:12px 28px;
    border:none;
    border-radius:8px;
    background:#6d4c41;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4e342e;
}

/* Intro */
/* Intro */

.opening-screen{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.intro{

    width:80%;
    max-width:900px;

    color:#ffffff;

    font-size:2.3rem;
    line-height:1.6;

    text-align:center;

    opacity:0;

    transition:
        opacity 1.2s ease,
        transform 1.2s ease;

    transform:translateY(30px);

}

/* Scrapbook */

.scrapbook{
    width:100vw;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    background:#cbb28d;
    padding:15px 30px 20px;
    overflow-y:auto;
}

.spread{

    width:1100px;
    height:640px;

    display:none;

    background:#6b4f37;

    border-radius:18px;

    padding:18px;

    box-shadow:0 20px 45px rgba(0,0,0,.45);

    position:relative;

    opacity:0;

    transform:scale(.96);

    transition:
        opacity .65s ease,
        transform .65s ease;

}
.spread::after{
    content:"";
    position:absolute;
    left:50%;
    top:18px;
    bottom:18px;
    width:3px;
    background:rgba(70,45,20,.15);
    box-shadow:0 0 12px rgba(0,0,0,.12);
}

.spread.active{

    display:flex;

    opacity:1;

    transform:scale(1);

}

.spread.leaving{

    opacity:0;

    transform:
        scale(.95)
        rotate(-2deg);

}

.spread.entering{

    opacity:0;

    transform:
        scale(1.03)
        rotate(2deg);

}

.book-pages{

    display:flex;

    width:100%;
    height:100%;

    transform-style:preserve-3d;

}


.page{
    flex:1;
    padding:15px;
}





.paper{
    height:100%;
    background:radial-gradient(circle at top,#fffdf6,#f6edd8);
    border-radius:8px;
    padding:25px 35px 35px;
    position:relative;
    box-shadow:inset 0 0 15px rgba(0,0,0,.08);

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.polaroid{
    width:360px;
    background:#fff;
    padding:14px;
    margin:auto;
    transform:rotate(-4deg);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    position: relative;
}

.tape{
    position:absolute;
    width:90px;
    height:28px;
    background:rgba(255,245,180,.75);
    z-index:5;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.tape-left{
    top:-12px;
    left:18px;
    transform:rotate(-18deg);
}

.tape-right{
    top:-12px;
    right:18px;
    transform:rotate(16deg);
}

.flower{
    position:absolute;
    bottom:40px;
    left:45px;
}

.flower img{
    width:140px;
    height:auto;
}
.polaroid img{
    width:100%;
    display:block;
}

.polaroid span{
    display:block;
    text-align:center;
    margin-top:10px;
    font-family:cursive;
    font-size:1.2rem;
}

.paper h1{

    font-family:cursive;

    font-size:2rem;

    color:#4a2f21;

    line-height:1.25;

    letter-spacing:0.5px;

    margin-top:12px;

    margin-bottom:18px;

    max-width:92%;

}
.paper p{

    width:68%;
    margin:0;
    line-height:1.8;
    font-size:1.05rem;
    color:#3f2b20;

    padding-bottom:180px;

}
.doodle{
    margin:15px 0 25px;
    text-align:center;
}
.doodle img{

    width:180px;

    height:auto;

}

.intro-text{

    width:85%;

    margin:45px auto 0;

    font-size:1.08rem;

    line-height:2;

    color:#3f2b20;

}

.sticky-note{

    position:absolute;

 right:5px;
    bottom:28px;

    width:240px;

    background:#fff0a8;

    padding:22px 18px;

   transform:translateX(70px) rotate(-15deg);

    text-align:center;

    box-shadow:0 12px 22px rgba(0,0,0,.18);

    z-index:5;

}
.sticky-tape{

    position:absolute;

    width:70px;

    height:18px;

    background:rgba(255,245,180,.70);

    top:-9px;

    left:50%;

    transform:translateX(-50%) rotate(-4deg);

    box-shadow:
        0 2px 4px rgba(0,0,0,.08);

    border-radius:2px;
}

.sticky-note strong{

    font-size:1.1rem;

    color:#3f2b20;

    font-family:Georgia,serif;


}

.scrap-nav{
    display:flex;
    gap:14px;
     margin-top:15px;
    margin-bottom:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.scrap-nav button{
    margin-top:0;
     background:#7a5840;
    border-radius:40px;

    padding:14px 26px;

    box-shadow:
    0 5px 10px rgba(0,0,0,.18);

}
.scrap-nav button:hover{

    transform:translateY(-3px);

}

@media(max-width:1200px){

.spread{
width:95%;
height:auto;
flex-direction:column;
}

}

/* ==========================================
   MOBILE RESPONSIVE
========================================== */

@media screen and (max-width:768px){

    body{
        overflow-x:hidden;
        overflow-y:auto;
    }

    .scrapbook{
        padding:15px;
        min-height:100vh;
    }

    .spread{
        width:100%;
        height:auto;
        flex-direction:column;
        padding:12px;
    }


}

    /* Hide book spine on mobile */
    .spread::after{
        display:none;
    }

        .book-pages{
    display:flex;
    flex-direction:column;
    width:100%;
.page{
    width:100%;
    flex:none;
}

    .paper{
        padding:22px;
    }

    .polaroid{
        width:82%;
        max-width:320px;
        margin:25px auto;
    }

    .paper h1{
        font-size:2rem;
        line-height:1.3;
        text-align:left;
        margin-top:10px;
        margin-bottom:18px;
    }

    .doodle{
        margin:18px 0;
        text-align:center;
    }

    .doodle img{
        width:150px;
    }

    .paper p{
        width:100%;
        text-align:left;
        font-size:1.05rem;
        line-height:1.8;
        padding-bottom:140px;
    }

    .sticky-note{
        width:190px;
        right:-20px;
        bottom:20px;
        transform:rotate(-12deg);
        padding:18px 14px;
    }

    .flower img{
        width:90px;
    }

.scrap-nav{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:12px;

    width:100%;

    margin-top:20px;

    padding:0;

}

    .scrap-nav::-webkit-scrollbar{
        display:none;
    }

.scrap-nav button{

    width:100%;

    min-width:0;

    padding:14px 16px;

    margin:0;

}

.scrap-nav button:last-child{

    grid-column:1 / span 2;

    width:50%;

    justify-self:center;

}

}